<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Usuario puntuador</th>
      <th>Usuario puntuado</th>
      <th>Positivo</th>
      <th>Negativo</th>
      <th>Neutro</th>
      <th>Estado</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.usuario_puntuador %></td>
        <td><%= score.usuario_puntuado %></td>
        <td><%= score.positivo %></td>
        <td><%= score.negativo %></td>
        <td><%= score.neutro %></td>
        <td><%= score.estado %></td>
        <td><%= score.comentario %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
