<%= yield %>
<div class="container">
  <div class="row">
    <div class="page-content">
      <div class="last-rides">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="page-sub-title textcenter">
            <h2>solicitudes</h2>
            <div class="line"></div>
          </div><!-- end .page-sub-title -->
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <p id="notice"><strong><%= notice %></strong></p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Solicitante</th>
                <th scope="col">Fecha del viaje</th>
                <th scope="col">Reputacion</th>
                <th scope="col">Detalle</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% current_user.misSolicitudes.sort_by {|e| e.created_at}.each do |req| %>

              <tr>

                <div class="col-md-12 col-sm-12 col-xs-12">

                  <td>
                    <div class="ride-content">
                      <h3><%= link_to req.user.full_name, req.user %></h3></div>
                    </td>
                    <td>  <%= l req.viaje.fecha, locale: :es %> </td>
                    <td>  <%= req.user.reputacionPA %> </td>
                    <td>  <button class="btn2"> <strong>  <%= link_to "Leer mas", request_path(:request=>{:id=>req.id})   %> </strong></button> </td>
                    <td>  <%= req.estado %> </td>
                    <td>
                      <% if req.isPending%>
                      <%= link_to 'aceptar', change_request_path(:request=>{:id=>req.id,:cambio=>1,:viaje=>req.viaje_id}), method: :put %>
                      <%= link_to 'rechazar', change_request_path(:request=>{:id=>req.id,:cambio=>2,:viaje=>req.viaje_id}), method: :put %>
                      <%elsif req.isCanceled %>
                      cancelada
                      <%else%>
                      <%= link_to 'cancelar', change_request_path(:request=>{:id=>req.id,:cambio=>3,:viaje=>req.viaje_id}), method: :put %>
                      <%end%>
                    </td>
                  </div>
                  <% end %>
                </tr>
              </tbody>
            </table>
            <div class="clearfix"></div>

            <!-- <div class="read-all pagination-margin">
            <a href="">Leer mas mas</a>
          </div> -->

        </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

      </div><!-- end .last-rides -->

    </div><!-- end .row -->

  </div><!-- end .container -->
