<div class="top-menu">

    <section class="container">

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="user-log">
                    <li>
                        <%= link_to "Mi perfil", current_user  %>
                    </li>
                    <li>
                        <%= link_to('Cerrar Sesion', destroy_user_session_path, method: :delete) %>
                    </li>
                </div><!-- end .user-log -->
            </div><!-- end .col-sm-4 -->

            <nav id="nav" class="main-navigation">

                <ul class="navigation">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/viajes">viajes</a>
                    </li>
                    <li>
                        <a href="/viajes/new">publicar viaje</a>
                    </li>
                    <li>
                        <a href="#">opciones</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="events.html">balance</a>
                            </li>
                            <li>
                                <a href="single-post.html">calificaciones</a>
                            </li>
                            <li>
                              <%= link_to "Cambiar contraseña", edit_user_registration_path %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact-page.html">Contacto</a>
                    </li>
                </ul>
            </nav><!-- end .main-navigation -->

        </div>
    </section><!-- end .container -->
</div><!-- end .top-menu -->

<%= @user_viajes.each do |viaje| %>
    <%= link_to "Viaje de:", viaje_path(viaje)%>
    <%= link_to "Usuario", user_path%>
<% end %>
