
<div class="container">
        <div class="row">
            <div class="page-content">
                <div class="last-rides">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Viajes como Chofer</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                    <% @viajesComoChofer.each do |viaje| %>

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">Desde <%= viaje.origen %> a <%= viaje.destino %></a></h3>viaje de <a href="#"> <%= current_user.full_name %> Auto  <%= viaje.car_plate %></a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <%= viaje.fecha %>
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Numero de asientos" data-toggle="tooltip">
                                        <%= (Car.find_by_plate(viaje.car_plate)).seats %>
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        Leer mas
                                    </a>
                                </li>
                                <%= link_to 'Eliminar viaje', viaje, method: :delete, data: { confirm: 'Estas seguro?' } %>
                                <%= link_to 'Editar viaje', edit_viaje_path(viaje) %>
                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                    <% end %>

                        <div class="clearfix"></div>

                       <!-- <div class="read-all pagination-margin">
                            <a href="">Leer mas mas</a>
                        </div> -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .last-rides -->

        </div><!-- end .row -->

    </div><!-- end .container -->

<div class="container">
        <div class="row">
            <div class="page-content">
                <div class="last-rides">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Viajes como Pasajero</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                    <% @viajesComoPasajero.each do |viaje| %>

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">Desde <%= viaje.origen %> a <%= viaje.destino %></a></h3>viaje de <a href="#"> <%= User.find(viaje.chofer_id).full_name %></a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        <%= viaje.fecha %>
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Numero de asientos" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        <%= Car.find(plate = viaje.car_plate).seats %> <!-- HACER QUE FUNCIONE -->
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Leer mas
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                    <% end %>

                        <div class="clearfix"></div>

                       <!-- <div class="read-all pagination-margin">
                            <a href="">Leer mas mas</a>
                        </div> -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .last-rides -->

        </div><!-- end .row -->

    </div><!-- end .container -->
