<%= stylesheet_link_tag    'form' %>
<%= javascript_include_tag 'form' %>

<div class="form">

  <h1>Cambia tu contrase単a</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

    <div class="field-wrap">
      <%= f.label :password, "Nueva contrase単a" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field-wrap">
      <%= f.label :password_confirmation, "Confirmar nueva contrase単a" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <button type="submit" class="button button-block"/>
      <%= f.submit "Cambiar mi contrase単a" %>
    </button>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
