<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @viaje.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @viaje.destino %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @viaje.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @viaje.hora %>
</p>

<p>
  <strong>Precio:</strong>
  $<%= @viaje.precio %> Pesos
</p>

<p>
  <strong>Chofer:</strong>
  <%= link_to User.find(@viaje.chofer_id).full_name ,User.find(@viaje.chofer_id) %>
</p>


<p>
  <strong>Duracion:</strong>
  <%= @viaje.duracion %> Horas
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @viaje.descripcion %>
</p>

<% if (current_user.id==@viaje.chofer_id) %>
  <%= link_to 'Editar', edit_viaje_path(@viaje) %> |
  <%= link_to 'Atras', viajes_path %>
<% end %>


<h2>Seccion de preguntas</h2><br>
<% @viaje.comments.each do |comment| %>
    <h5> Pregunta de (nombre de usuario) <!-- #User.find(comment.user_id).full_name -->: <%= comment.pregunta %> </h5>
    <h5> respuesta: <% if comment.respuesta.present?%> <%=comment.respuesta%>
    <%else%>
    <br>
    <% end %></h5>
 <% end %>
 <% if @viaje.chofer_id != current_user.id %>
  <%= link_to 'Realizar pregunta', new_comment_path(idViaje: @viaje.id) %>
<%end%>
<br>
<br>
<br>
