<%= stylesheet_link_tag    'form' %>
<%= javascript_include_tag 'form' %>

<div class="form">

  <div id="login">
    <h1>Publicar viaje recurrente
      <img src="<%= asset_path 'Logo.jpg' %>" width="100" height="100">
    </h1>

<%= form_with(model: viaje_recurrente, local: true) do |form| %>
  <% if viaje_recurrente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(viaje_recurrente.errors.count, "error") %> prohibited this viaje_recurrente from being saved:</h2>

      <ul>
      <% viaje_recurrente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-wrap">
    <div class="field">
        <%= form.label :origen %><br />
        <%= form.text_field :origen %>
      </div>
  </div>

  <div class="field-wrap">
    <div class="field">
        <%= form.label :destino %><br />
        <%= form.text_field :destino %>
      </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :semanas %><br />
      <%= form.number_field :semanas %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :lunes %><br />
      <%= form.check_box :lunes %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :martes %><br />
      <%= form.check_box :martes %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :miercoles %><br />
      <%= form.check_box :miercoles %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :jueves %><br />
      <%= form.check_box :jueves %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :viernes %><br />
      <%= form.check_box :viernes %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :sabado %><br />
      <%= form.check_box :sabado %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :domingo %><br />
      <%= form.check_box :domingo %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field" style="width:50%; display:inline-block">
      <%= form.label :fecha_y_hora %><br />
      <%= form.date_field :fecha %>
    </div>
    <div class="field"style="width:40%; display:inline-block">
      <%= form.time_field :hora %>
    </div>
  </div>

  <div class="field-wrap">
  <%= form.label :patente_del_vehiculo %><br>
  <%= form.select :car_id, options_for_select(User.current.cars.collect{ |c| [c.plate, c.id] }),include_blank: false %>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :precio %><br />
      <%= form.text_field :precio %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :duracion, 'Duracion en horas' %><br />
      <%= form.number_field :duracion %>
    </div>
  </div>

  <div class="field-wrap">
    <div class="field">
      <%= form.label :descripcion %><br />
      <%= form.text_area :descripcion %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
