<p id="notice"><%= notice %></p>

<p>
  <strong>viajes del viaje recurrente <% @viaje_recurrente.id %>:</strong><br>
  <% @viaje_recurrente.semanas.each do |s| %>
          <% s.viajes.each do |v|%>
            viaje fecha <%= l v.fecha,locale: :es %><br>
          <% end %>
  <% end %>
</p>

<%= link_to 'Editar', edit_viaje_recurrente_path(@viaje_recurrente) %> |
<%= link_to 'mis viajes', misviajes_path(current_user) %>  |  |
<%= link_to 'Volver', url_for(:back) %>
