<%= yield %>
<div class="container">
        <div class="row">
            <div class="page-content">
                <div class="last-rides">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>La tarjeta se ha guardado correctamente</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3>Numero <%= @card.numero %>. Codigo de seguridad <%= @card.numeroSeguridad %></h3>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                      Fecha de vencimiento
                                        <%= @card.vencimiento %>
                                </li><!-- end .ride-date -->
                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <div class="clearfix"></div>

                       <!-- <div class="read-all pagination-margin">
                            <a href="">Leer mas mas</a>
                        </div> -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .last-rides -->

        </div><!-- end .row -->
<%= link_to 'Back', current_user %>
