<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->

<body>

    <header class="header">

        <div class="top-menu">

            <section class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="user-log">
                            <li>
                                <%= link_to('Cerrar Sesion', destroy_user_session_path, method: :delete) %>
                            </li>
                            <li>
                                <%= link_to "Mi perfil", current_user  %>
                            </li>
                        </div><!-- end .user-log -->
                </div><!-- end .col-sm-4 -->
            </div><!-- end .row -->
        </section><!-- end .container -->
    </div><!-- end .top-menu -->

    <div class="main-baner">

        <div class="fullscreen background parallax clearfix not-overflow" style="background-image:url(<%= asset_path 'camino.jpg' %>);" data-img-width="1600" data-img-height="1064">

            <div class="main-parallax-content">

                <div class="second-parallax-content">

                    <section class="container">

                        <div class="row">

                            <div class="main-header-container clearfix">

                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    <div class="logo">
                                        <h1><img src="<%= asset_path 'LOGO.svg' %>" width="260" height="260"></h1>
                                    </div><!-- end .logo -->

                                </div><!-- end .col-sm-4 -->

                                <div class="col-md-8 col-sm-8 col-xs-12">

                                    <nav id="nav" class="main-navigation">

                                        <ul class="navigation">
                                            <li>
                                                <a href="/">Home</a>
                                            </li>
                                            <li>
                                                <a href="/viajes">viajes</a>
                                            </li>
                                            <li>
                                                <a href="/viajes/new">publicar viaje</a>
                                            </li>
                                            <li>
                                                <a href="#">opciones</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <%= link_to "balance", balance_path  %>
                                                    </li>
                                                    <li>
                                                        <a href="single-post.html">calificaciones</a>
                                                    </li>
                                                    <li>
                                                      <%= link_to "Mi perfil", current_user %>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                  <%= link_to "cargar auto", new_car_path  %>>
                                            </li>
                                        </ul>

                                    </nav><!-- end .main-navigation -->

                                </div><!-- end .col-md-8 -->

                            </div><!-- end .main-header-container -->

                        </div><!-- end .row -->

                    </section><!-- end .container -->

                </div><!-- end .second-parallax-content -->

            </div><!-- end .main-parallax-content -->

        </div><!-- end .background .parallax -->

    </div><!-- end .main-baner -->

</header><!-- end .header -->

<section class="main-content">

    <div class="container">
        <div class="row">

            <div class="page-content">

                <div class="services clearfix">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Servicios</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-car"></i>

                            <h3>Comparti tu viaje</h3>
                            <p>¿Estas cansado de viajer solo y gastar tanto en nafta y peajes?. Comparti tu viaje hoy y olvidate de esos problemas.</p>

                        </article><!-- end .service -->

                    </div><!-- end .col-md-4 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-users"></i>

                            <h3>Conoce nuevas personas</h3>
                            <p>Conoce gante nueva mas facil que nunca, nada mejor que pasar unas horas habalndo casualmente con gente interesante.</p>

                        </article><!-- end .service -->

                    </div><!-- end .col-md-4 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <article class="service">

                            <i class="fa fa-map-marker"></i>

                            <h3>Viaja a lugares nuevos</h3>
                            <p>Conoce nuevas rutas con nuestros viajes de larga, ya no tenes excusa para hacer ese viaje que siempre quisiste. </p>

                        </article><!-- end .service -->

                    </div><!-- end .col-md-4 -->

                </div><!-- end .services -->

                <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="background parallax" style="background-image:url(image_path('camino.jpg'));" data-img-width="1600" data-img-height="1064">

                        <div class="main-parallax-content">

                            <div class="second-parallax-content">

                                <div class="parallax-content clearfix">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="site-stat">
                                            <span class="counter">5,000</span>
                                            <span>Usuarios felices</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="site-stat">
                                            <span class="counter">7,000</span>
                                            <span>Viajes exitosos</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="site-stat">
                                            <span class="counter">600,000</span>
                                            <span>Kilometros viajados bien acompañados</span>
                                        </div>
                                    </div>

                                </div><!-- end .parallax-content -->

                            </div><!-- end .main-parallax-content -->

                        </div><!-- end .paralax -->

                    </div><!-- end .fullscreen .background .parallax -->

                </div><!-- end .col-md-12 -->

                <div class="clearfix"></div>

                <div class="last-rides">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Ultimos viajes</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">From Plovdiv to Sofia</a></h3>ride by <a href="#">Stefan Valkov</a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        July 20, 2014 at 19:00 PM
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        1
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Read more
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">From Milano to Rome</a></h3>ride by <a href="#">Carlo Corti</a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        July 18, 2014 at 06:00 AM
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        4
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Read more
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">From Lyon to Paris</a></h3>ride by <a href="#">Antoine Bonnet</a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        July 15, 2014 at 20:00 PM
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        3
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Read more
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">From Barcelona to Madrid</a></h3>ride by <a href="#">Adriana Bello</a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        July 10, 2014 at 09:00 AM
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        2
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Read more
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <article class="ride-box clearfix">

                            <div class="ride-content">
                                <h3><a href="#">From Munich to Berlin</a></h3>ride by <a href="#">Albert Becker</a>
                            </div>

                            <ul class="ride-meta">

                                <li class="ride-date">
                                    <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                        <i class="fa fa-calendar"></i>
                                        July 08, 2014 at 22:00 PM
                                    </a>
                                </li><!-- end .ride-date -->

                                <li class="ride-people">
                                    <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                        <i class="fa fa-user"></i>
                                        1
                                    </a>
                                </li><!-- end .ride-people -->

                                <li>
                                    <a href="#">
                                        <i class="fa fa-file"></i>
                                        Read more
                                    </a>
                                </li>

                            </ul><!-- end .ride-meta -->

                        </article><!-- end .ride-box -->

                        <div class="clearfix"></div>

                        <div class="read-all pagination-margin">
                            <a href="rides.html">Leer mas</a>
                        </div>

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                </div><!-- end .last-rides -->


        </div><!-- end .row -->
    </div><!-- end .container -->

</section><!-- end .main-content -->

<footer id="footer">

    <div class="footer-copyright">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    Made in UNLP
                </div>

            </div><!-- end .row -->
        </div><!-- end .container -->

    </div><!-- end .footer-copyright -->

</footer><!-- end #footer -->


<!-- Javascript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Main jQuery -->
<script type="text/javascript" src="js/jquery.main.js"></script>
<!-- Form -->
<script type="text/javascript" src="js/jquery.idealforms.min.js"></script>
<script type="text/javascript" src="js/jquery.idealselect.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
<!-- Menu -->
<script type="text/javascript" src="js/hoverIntent.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<!-- Counter-Up  -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
<!-- Rating  -->
<script type="text/javascript" src="js/bootstrap-rating-input.min.js"></script>
<!-- Slicknav  -->
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>

</body>
</html>
